body{
    background-color:#4324d5 ;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 20px;
    margin: auto;
    width: 350px;
    padding: 15px;
    background-color: #9b6cea;
    color:#f5c6ff ;
}
input{
    background-color: #6f48df;
    color: #f5c6ff;
    border: none;
}

textarea{
    background-color: #6f48df;
    color: #f5c6ff;
}

button{
    border: none;
    border-radius: 5px;
    background-color: #6f48df;
    color: #f5c6ff;
}

